<!DOCTYPE html>
<html>
<head>

	<title> ak.in | Custom URL Shortener, Link Management & Branded Links </title>
	<!-- Bootstrap Files-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/Bootstrap/bootstrap.min.css">

	<!-- manual CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	<script>
		function shown()
		{
			var val= document.getElementById('original-opurl').innerHTML;
			if(val=='')
			{
				document.getElementById('output-urlbox').style.display="none";
			}
			else
			{
				document.getElementById('output-urlbox').style.display="inline";
			}
		}
	</script>
</head>
<body onload="shown();" style="height:1200px;">
	<!--- Header Part -->
		<nav class="navbar black navbar-expand-md navbar-light sticky-top" style="background-color: white; padding-top:10px;">
			<div class="container">
				<a class="navbar-brand" href="#">
				  	<div class="icon-img">
				  		<img src="../static/images/bitly_logo.jpg" width="100%;">
				  	</div>
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="collapsibleNavbar" style="border: 0px solid;margin-left: 35px;">
				    <ul class="navbar-nav">
				      <li class="nav-item menu-opt">
				        <a class="nav-link" href="#">Why Bitly</a>
				      </li>
				      <li class="nav-item menu-opt">
				        <a class="nav-link" href="#">Solution</a>
				      </li>
				      <li class="nav-item menu-opt">
				        <a class="nav-link" href="#">Features</a>
				      </li>
				      <li class="nav-item menu-opt">
				        <a class="nav-link" href="#">Pricing</a>
				      </li>
				      <li class="nav-item menu-opt">
				        <a class="nav-link" href="#">Resources</a>
				      </li>
					  <li class="nav-item menu-opt">
				        	<a class="nav-link" href="/login">Login</a>
				      </li>
                      <li class="nav-item menu-opt">
				        <a class="nav-link" href="/signup">SignUp</a>
				      </li>
				    </ul>
			 	 </div>
			 </div>
		</nav>


	<!--- Header Part Ends-->
			<div class="container-fuild" style=" margin-top:50px; ">
				<div class="container" >
					<div class="row">
						 <div class="col-md-7" >
						 	<div class="row" style="margin-top:20%">
						 		<h1><b>Create Click-Worthy Links</b></h1>
						 		<h5>Build and protect your brand using powerful, recognizable short links.</h5>
						 	</div>
						 	<div class="row" style="margin-top: 30px;">
						 		<div class="col-md-5" >
						 			<div class="btn1">
						 				Get Started for Free
						 			</div>
						 			<div >
						 				<center><a href="#" style="text-decoration: none">Get a Quote</a></center>
						 			</div>
						 		</div>
						 	</div>
						 </div>
						 <div class="col-md-5 img1">
						 	<img src="../static/images/girl_img.jpg" width="100%">
						 </div>
					</div>
				</div	>
			</div>

			<div class="container-fuild" style=" border:1px solid yellow; margin-top: 30px; background-color: #0B1736; height:auto; padding:10px 0px; ">
                <div class="container">
					 <form action="/urlshortner">
						<div class="row borders" style="padding:10px 0px;" >
							<div class="col-md-8 borders">
									<input type="url" class="input-url" name="link" placeholder="Shorten your link" required>
							</div>
							<div class="col-md-4">
								<input type="submit" class="short-url-btn" name="short-btn" value="Shorten" >
							</div>
							<div class="col-md-8 borders" style="margin-top:5px">
								<label style="color:#818797;">
									Optional short link ending. Custom ending goes here:
									<label class="customurl-box">
										ak.in/
										<input type="text" name="customurl" class="input-customurl" placeholder="Custom url">
									</label>
								</label>
							</div>
							<div class="col-md-12" id="output-urlbox" >
								<div class="row url-output" >
									<div class="col-md-7 original-urloutput" style="padding: 15px 5px; ">
										<label class="" id="original-opurl">{{ url }}</label>
									</div>
									<div class="col-md-5 original-urloutput" style="padding: 15px 5px;">
										<a href="{{ url }}" >{{ finalencryptedurl }}</a>
									</div>
								</div>
							</div>
						</div>
        			</form>
				</div>
			</div>
</body>
</html>