<html>
    <head>
        <title>SIGN UP FORM</title>
        <link rel="stylesheet" text="text/css" href="/static/css1/style.css">
        <body>
            <div class="Sign-Up-Form">
                <img src="/static/user-Icon.png">
                <h1>Log In Form</h1>
                <form action="checkLoginIn" onsubmit="return test()">
                   <input type="email" class="input-box" name="email" placeholder="Your Email">
                    <input type="password" class="input-box" name="pwd" id="pwd" placeholder="Your Password">
                   <button type="submit" class="signup-btn">Log In</button>
                    <div>{{ xyz }}</div>
                   <hr>
        </body>
    </head>
    </html>